/*Main styles for all of the websites that branch off of our main website and the style for the main website*/

body {
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    
    background-color: black;
    color: white;
    font-size: 195%;
    font-family:"Courier New";
}

/* All links*/
a {
    color: white;
    font-size: 200%;
}
/*Button Links*/
a.button {
    text-decoration: none;
}

/* unvisited link */
a:link {
    background-color: black;
}

/* mouse over link */
a:hover {
    background-color: grey;
}

div.text{
    position: absolute;
    top: 3%;
    left: 30%;
    width: 50%;
}

div.links{
    position: fixed;
    top: 20%;
    left: 2%;
}

img {
    background-color:white;
}

.fine_print {
    position: fixed;
    font-size: 40%;
    width: 20%;
    bottom: 0;
    left: 2%;
}

.my_canvas {
    float: right; 
    float: top;
    padding: 2%;
}
